title_name = "Transformers: Fall of Cybertron"
title_id = "4156089C" # AV-2204
hash = "71315618DA5F8510" # default.xex
#media_id = "4243559D" # Disc (USA): http://redump.org/disc/41958

[[patch]]
    name = "Unlock FPS"
    desc = "See note about framerate patches in the README. Some interactibles softlock above 30FPS. Interact while moving, not while stationary."
    author = "Sowa_95"
    is_enabled = false

    [[patch.be32]]
        address = 0x82ab7d7c
        value = 0x60000000
    [[patch.be8]]
        address = 0x82e76aab
        value = 0x01 # 0x00=unlimited; 0x01=60FPS; 0x02=30FPS

[[patch]]
    name = "Disable Lens Flares"
    desc = "Fixes unoccluded bright lights on-screen."
    author = "Sowa_95"
    is_enabled = false

    [[patch.be32]]
        address = 0x827aaa2c
        value = 0x39400000

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "Sowa_95"
    is_enabled = false

    [[patch.be32]]
        address = 0x82a7a614
        value = 0x38a00010
