title_name = "Hunted: The Demon's Forge"
title_id = "425307D7" # BS-2007
hash = "9D75E44A2E84CC51" # default.xex
#media_id = "7084F7FD" # Disc (USA): http://redump.org/disc/100843

[[patch]]
    name = "Unlock FPS"
    desc = "See note about framerate patches in the README."
    author = "Sowa_95"
    is_enabled = false

    [[patch.be32]]
        address = 0x825f7cb0
        value = 0x60000000
    [[patch.be8]]
        address = 0x82d1648f
        value = 0x01 # 0x00=unlimited; 0x01=60FPS; 0x02=30FPS

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "Sowa_95"
    is_enabled = false

    [[patch.be32]]
        address = 0x82a3783c
        value = 0x38a00010

[[patch]]
    name = "Show FPS"
    author = "Sowa_95"
    is_enabled = false

    [[patch.be8]]
        address = 0x8398cb74
        value = 0x01
    [[patch.be8]]
        address = 0x8398cb84 # Frametime
        value = 0x01
