title_name = "Mirror's Edge"
title_id = "45410850" # EA-2128
#hash = "" # default.xex
#media_id = "426CA5A2" http://redump.org/disc/11415

[[patch]]
    name = "Unlock FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config."
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8254F5FC
        value = 0x60000000
    [[patch.be8]]
        address = 0x8281492B
        value = 0x01

[[patch]]
    name = "Disable Lens Flares"
    desc = "Fixes unoccluded bright lights on-screen."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8233AC08
        value = 0x39400000

[[patch]]
    name = "Disable Motion Blur"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8239AD24
        value = 0x3AF50000

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8239CF0C
        value = 0x39600010

[[patch]]
    name = "Disable Bloom & Depth of Field"
    author = "illusion"
    is_enabled = false

    [[patch.be8]]
        address = 0x8270F018
        value = 0x40
