title_name = "Skate 2"
title_id = "4541087F" # EA-2175
hash = "E37B93112490ED35" # default.xex
#media_id = [
#    "151D8210",
#    "6ADB5821", # Disc (Europe): http://redump.org/disc/74675
#]

[[patch]]
    name = "60 FPS"
    desc = "Force 60 FPS everywhere regardless of gameplay mode."
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x8232d4e8
        value = 0x39600001

[[patch]]
    name = "21:9 Aspect Ratio"
    desc = "See note about aspect ratio patches in the README; Aspect ratio value can't be calculated like most patches, and shouldn't be changed."
    author = "tuukkas"
    is_enabled = false

    [[patch.be32]]
        address = 0x82000bf0
        value = 0x4002f1bd

[[patch]]
    name = "No MSAA"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x8234fa20
        value = 0x38c00000

[[patch]]
    name = "No Bloom"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x8234fd60
        value = 0x60000000

[[patch]]
    name = "No Fisheye"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x8234fd70
        value = 0x60000000

[[patch]]
    name = "Skip Intro Logos"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82512218
        value = 0x60000000

[[patch]]
    name = "1280x720 Resolution"
    desc = "Slightly breaks rendering."
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82695988
        value = 0x38a00500
    [[patch.be32]]
        address = 0x82695990
        value = 0x386002d0
    [[patch.be32]]
        address = 0x826956b4
        value = 0x39600500
    [[patch.be32]]
        address = 0x826956cc
        value = 0x3b8002d0
