title_name = "Shadows of the Damned"
title_id = "4541092A" # EA-2346
hash = "BAC5CBBDF9D3E8AF" # default.xex
#media_id = "64D9671A" http://redump.org/disc/58068

[[patch]]
    name = "Unlock FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config."
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82567FD0
        value = 0x60000000
    [[patch.be8]]
        address = 0x82A9F7C7
        value = 0x01

[[patch]]
    name = "RTV - Flickering Decals Fix"
    desc = "Disables static decals that cause z-fighting with RTV rendering. Some visual artifacts may remain. Not necessary when using ROV."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8230E780
        value = 0x39600000

[[patch]]
    name = "Disable All Post-Processing"
    desc = "Removes tonemapping, image grain, motion blur, rim shading and depth of field."
    author = "boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x82883958
        value = 0x4800

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x829EE4F4
        value = 0x38A00010
