title_name = "Fable II" # 2, GOTY (Game Of The Year)/Platinum Edition, TU1
title_id = "4D5307F1" # MS-2033
hash = "EE56F849188A6A20" # default.xex
#media_id = "716F0A0D" # Disc (USA, Europe): http://redump.org/disc/20202

[[patch]]
    name = "60 FPS"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82ba3018
        value = 0x39600001

[[patch]]
    name = "1280x720 Resolution"
    desc = "Original resolution is 1120x720."
    author = "Margen67"
    is_enabled = false

    [[patch.be16]]
        address = 0x823894c2
        value = 0x0500

[[patch]]
    name = "Disable MSAA (Multi-Sample Anti-Aliasing)"
    author = "Margen67"
    is_enabled = false

    [[patch.be8]]
        address = 0x823894a7
        value = 0x01
