title_name = "Gears of War 2" # TU6
title_id = "4D53082D" # MS-2093
hash = "CE051FA9AE893BDB" # default.xex
#media_id = "22AB4F7C"

[[patch]]
    name = "Unlock FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config."
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x824A2FA4
        value = 0x60000000
    [[patch.be8]]
        address = 0x829A6F53
        value = 0x01

[[patch]]
    name = "Black Shading Fix"
    desc = "Modifies how dynamic shadows are cast from spherical harmonic lighting. Most of the shadowing artifacts are mediated but there are still some terrain shadows and character self-shadowing that won't look good."
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x822E96D8
        value = 0x39600000

[[patch]]
    name = "RTV - Flickering Decals Fix"
    desc = "Disables static decals that cause z-fighting with RTV rendering. Some visual artifacts may remain. Not necessary when using ROV."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x822D6F04
        value = 0x39200000

[[patch]]
    name = "Disable Ambient Occlusion"
    desc = "Fixes various artifacts when using upscaling."
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82700198
        value = 0x39600000

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8237186C
        value = 0x39600000

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8281E3B4
        value = 0x38A00010
