title_name = "Gears Of War" # TU5
title_id = "4D5307D5" # MS-2005
hash = "34849A59634915F6" # default.xex
#media_id = "76E9DF5B" # Disc (USA, Europe): http://redump.org/disc/7745

[[patch]]
    name = "60 FPS"
    desc = "Increases the default vsync target to 60 FPS. Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config, however that can potentially case timing-related physics and audio issues above 100 FPS."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x82250ddb # D3DPRESENT_INTERVAL_ONE
        value = 0x01

[[patch]]
    name = "Black Shading Fix"
    desc = "Solves most dynamic lighting artifacts caused by an issue with light environments and MSAA tiling."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x82f9779b # GTilingMode = 0
        value = 0x00
    [[patch.be8]]
        address = 0x82f97733 # GUseTilingCode = FALSE
        value = 0x00

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x822a14c8
        value = 0x4800

[[patch]]
    name = "Disable Most Post-Processing"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x8229b988
        value = 0x4800
    [[patch.be32]]
        address = 0x82290b18
        value = 0x48000008

[[patch]]
    name = "8x Anisotropic Filtering"
    desc = "Game does not natively support 16x filtering."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8249d4d4
        value = 0x38a00008 # li r5, 8
