title_name = "Gears Of War" # TU5
title_id = "4D5307D5" # MS-2005
hash = "FD3300E440A69EE9" # default.xex
#media_id = "76E9DF5B" http://redump.org/disc/7745

[[patch]]
    name = "60 FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x82250DDB
        value = 0x01

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x822A14C8
        value = 0x4800

[[patch]]
    name = "Disable Most Post-Processing"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x8229B988
        value = 0x4800
    [[patch.be32]]
        address = 0x82290B18
        value = 0x48000008

[[patch]]
    name = "8x Anisotropic Filtering"
    desc = "Game does not natively support 16x filtering."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8249D4D4
        value = 0x38A00008
