title_name = "Gears Of War"
title_id = "4D5307D5" # MS-2005
hash = "1B591620508434A2" # default.xex
#media_id = "76E9DF5B" # Disc (USA, Europe): http://redump.org/disc/7745

[[patch]]
    name = "60 FPS"
    desc = "Increases the default vsync target to 60 FPS. Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config, however that can potentially case timing-related physics and audio issues above 100 FPS."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x8223e7bb # D3DPRESENT_INTERVAL_ONE
        value = 0x01

[[patch]]
    name = "Black Shading Fix"
    desc = "Solves most dynamic lighting artifacts caused by an issue with light environments and MSAA tiling."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x82bb6bbb # GTilingMode = 0
        value = 0x00
    [[patch.be8]]
        address = 0x82bb6b53 # GUseTilingCode = FALSE
        value = 0x00

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion"
    is_enabled = false

    [[patch.be16]]
        address = 0x8228fa40
        value = 0x4800

[[patch]]
    name = "Disable All Post-Processing"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x82289dc0
        value = 0x4800
    [[patch.be32]]
        address = 0x8227e660
        value = 0x48000008

[[patch]]
    name = "8x Anisotropic Filtering"
    desc = "Game does not natively support 16x filtering."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82487484
        value = 0x38a00008 # li r5, 8
