title_name = "Project Gotham Racing 3" # PGR
title_id = "4D5307D1" # MS-2001
hash = "1DBBA44F305E61A9" # default.xex, v10.0 or higher
#media_id = [
#    "21906FBC", # Disc (USA):    http://redump.org/disc/72289
#    "1E371802", # Disc (Europe): http://redump.org/disc/7718
#]

[[patch]]
    name = "60 FPS"
    desc = "Some video playback may run at double speed."
    author = "illusion, Margen67"
    is_enabled = false

    [[patch.be32]]
        address = 0x823cacf4
        value = 0x39400001

[[patch]]
    name = "1280x720 Resolution"
    desc = "Original resolution is 1024x600."
    author = "Margen67"
    is_enabled = false

    [[patch.be32]]
        address = 0x821b5cec
        value = 0x60000000

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion, Margen67"
    is_enabled = false

    [[patch.be8]]
        address = 0x824cc558
        value = 0x00

[[patch]]
    name = "21:9 Aspect Ratio"
    desc = "See note about aspect ratio patches in the README; Aspect ratio value can't be calculated like most patches, and shouldn't be changed."
    author = "Esppiral"
    is_enabled = false

    [[patch.be16]]
        address = 0x8200f0a8
        value = 0x4000
    [[patch.be32]]
        address = 0x820010b0
        value = 0x40182d83
