title_name = "Gears Of War"
title_id = "4D5307D5" # MS-2005
#hash = "" # default.xex
#media_id = "76E9DF5B" http://redump.org/disc/7745

[[patch]]
    name = "60 FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x8223E7BB
        value = 0x01

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion"
    is_enabled = false

    [[patch.be16]]
        address = 0x8228FA40
        value = 0x4800

[[patch]]
    name = "Disable Most Post-Processing"
    author = "illusion, boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x82289DC0
        value = 0x4800
    [[patch.be32]]
        address = 0x8227E660
        value = 0x48000008

[[patch]]
    name = "8x Anisotropic Filtering"
    desc = "Game does not natively support 16x filtering."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82487484
        value = 0x38A00008
