title_name = "Lost Odyssey"
title_id = "4D5307FA" # MS-2042
hash = "1145F89D321D2AE0" # Disc 1/2/3/4, default.xex
#media_id = [
#    "612E5362", # Disc 1 (Japan): http://redump.org/disc/27092
#    "1FCD93AF", # Disc 2 (Japan): http://redump.org/disc/27093
#    "5F6C75EB", # Disc 3 (Japan): http://redump.org/disc/27094
#    "1C347005", # Disc 4 (Japan): http://redump.org/disc/27095
#]

[[patch]]
    name = "60 FPS"
    desc = "Disabling vsync in Xenia config for over 60 FPS is not recommended as it causes numerous gameplay issues."
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x827b3f37
        value = 0x01

[[patch]]
    name = "Disable Depth of Field"
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x82305f6c
        value = 0x40

[[patch]]
    name = "Disable Motion Blur"
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x826e12cc
        value = 0x40

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be8]]
        address = 0x823b8eb7
        value = 0x10

[[patch]]
    name = "Disable Dynamic Shadows"
    desc = "Provides a moderate performance boost, especially when using custom resolution scaling."
    author = "boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x823d5c9c
        value = 0x4800
    [[patch.be16]]
        address = 0x823d5768
        value = 0x4800
    [[patch.be32]]
        address = 0x823dd7a0
        value = 0x60000000
