title_name = "ブルードラゴン" # Blue Dragon
title_id = "4D5307DF"
hash = "8149463D9BEE5FD0" # default.xex
#media_id = "00000000"

[[patch]]
    name = "Debug Menu"
    author = "Wylie"
    desc = "Enables the debug menu for JP on boot"
    is_enabled = false

    [[patch.be8]]
        address = 0x820cd577
        value = 0xff
