title_name = "Project Gotham Racing 3" # PGR
title_id = "4D5307D1" # MS-2001
hash = "CCDD4477E074DBBC" # default.xex, v9.0 or lower
#media_id = [
#    "21906FBC", # Disc (USA):    http://redump.org/disc/72289
#    "21B61CF8", # Disc (Europe): http://redump.org/disc/9766
#    "6D336DFF", # Disc (Europe): http://redump.org/disc/20580
#]

[[patch]]
    name = "60 FPS"
    desc = "See note about framerate patches in the README. Some video playback may run at double speed."
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82371fa4
        value = 0x39400001

[[patch]]
    name = "1280x720 Resolution"
    desc = "Original resolution is 1024x600."
    author = "Margen67"
    is_enabled = false

    [[patch.be32]]
        address = 0x82172284
        value = 0x60000000

[[patch]]
    name = "Disable Motion Blur"
    author = "illusion"
    is_enabled = false

    [[patch.be8]]
        address = 0x824725db
        value = 0x00

[[patch]]
    name = "21:9 Aspect Ratio"
    desc = "See note about aspect ratio patches in the README; Aspect ratio value can't be calculated like most patches, and shouldn't be changed."
    author = "Esppiral"
    is_enabled = false

    [[patch.be16]]
        address = 0x8200e2c0
        value = 0x4000
    [[patch.be32]]
        address = 0x820010b0
        value = 0x40182d83
