title_name = "ブルードラゴン" # Blue Dragon
title_id = "4D5307DF" # MS-2015
hash = "8149463D9BEE5FD0" # default.xex
#media_id = "00000000"

[[patch]]
    name = "Debug Menu"
    author = "Wylie"
    desc = "Enables the debug menu for JP on boot"
    is_enabled = false

    [[patch.be8]]
        address = 0x820cd577
        value = 0xff

[[patch]]
    name = "Enable Debug Draw"
    author = "Wylie"
    desc = "Adds Debug information into the Game World" # WireFrames, Event Information, etc... Note: Outdoor areas are buggy
    is_enabled = false

    [[patch.be8]]
        address = 0x820cd75f
        value = 0xff

    # Important Note: This patch in particular removes a part of wireframe mode.
    # This is because it interferes with drawing outdoor areas.
    # If you want to have full wireframe (Indoor only) then delete
    # this patch. Just keep in mind outdoor areas won't work
    [[patch.be32]]
        address = 0x820cd784
        value = 0x60000000
