title_name = "Unreal Tournament 3"
title_id = "4D5707DB" # MW-2011
hash = "5E6434A23E7BA4AE" # default.xex
#media_id = "72123E1F" # Disc (USA, Europe): http://redump.org/disc/12512

[[patch]]
    name = "Unlock FPS"
    desc = "Framerates higher than 60 FPS require vsync to be changed from true to false in the Xenia config. Disabling vsync may increase camera sensitivity."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x823ffcbc
        value = 0x60000000
    [[patch.be8]]
        address = 0x826e7053
        value = 0x01

[[patch]]
    name = "Dynamic Lighting & Shadows Shading Fix"
    desc = "Solves most dynamic lighting artifacts caused by an issue with light environments and MSAA tiling."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x824D4198
        value = 0x39200000

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x823f4e9c
        value = 0x38a00010

[[patch]]
    name = "Disable Most Post-Processing"
    desc = "Disables motion blur, depth of field, tonemapping and bloom."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x82315380
        value = 0x48000008
