title_name = "Final Fantasy XIII-2" # 13
title_id = "53510806" # SQ-2054
hash = "0DAAEDF276921971" # default.xex
#media_id = "7803DADA" # Disc (USA): http://redump.org/disc/43233

[[patch]]
    name = "60 FPS"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82855494
        value = 0x39600001
    [[patch.be32]]
        address = 0x828554c8
        value = 0x39400001

[[patch]]
    name = "Debug Mode"
    desc = '''
        Use controller 2 to open and navigate menus. Fonts will be black. Requires custom font built for the xenon version.
        Can be found in ../data/ffxiii-fonts
        (https://github.com/xenia-canary/game-patches/tree/main/data/FFXIII-font/)
        Font goes into path below:
        82247cf0 addi param_1=>s_sys/debug/...   = "sys/debug/DebugFontTextureDDS"
        From fdsa, has font build scripts but I couldn't get them working in the xenon version.
        TODO(illusion): Find a place to make cave to write custom playmode from stw at 82251fa4
        I think only the first line is needed.
        bne on 8225205c allows the menu to be opened.
        nop should boot into debug playmode.
        lVar5 = FUN_82253798(lVar5,"alpha");
        (iVar1 + 0x2e4) = 2;
        lVar5 = FUN_82253798(lVar5,"beta");
        (iVar1 + 0x2e4) = 3;
        lVar5 = FUN_82253798(lVar5,"tgs");
        (iVar1 + 0x2e4) = 4;
        lVar5 = FUN_82253798(lVar5,"e3");
        (iVar1 + 0x2e4) = 5;
        lVar5 = FUN_82253798(lVar5,"debug");
        (iVar1 + 0x2e4) = 0;
        lVar5 = FUN_82253798(lVar5,"release");
        (iVar1 + 0x2e4) = 1; // default
    '''
    author = "fdsa, illusion"
    is_enabled = false

    [[patch.be8]]
        address = 0x8225205c
        value = 0x40
    [[patch.be8]]
        address = 0x82251d6c
        value = 0x40
