title_name = "Saints Row 2"
title_id = "545107FC" # TQ-2044
hash = "581D207BBF22F59E" # default.xex
#media_id = [
#    "43400270",
#    "4E854E4B", Disc (USA, Europe): http://redump.org/disc/14038
#]

[[patch]]
    name = "Force 720p"
    desc = "Makes the game run at 720p instead of the default 640p."
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x8221b654
        value = 0x38e00500
    [[patch.be32]]
        address = 0x8221b5d8
        value = 0x3be002d0

[[patch]]
    name = "Disable HDR"
    desc = "Turns HDR off and edits the brightness, saturation and contrast to make up for that."
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x8205366c
        value = 0x60000000
    [[patch.be32]]
        address = 0x82219464
        value = 0x60000000
    [[patch.be32]]
        address = 0x823e2988
        value = 0x60000000
    [[patch.be32]]
        address = 0x8221946c
        value = 0x60000000
    [[patch.be32]]
        address = 0x823e2994
        value = 0x60000000
    [[patch.be32]]
        address = 0x8221940c
        value = 0x60000000
    [[patch.be32]]
        address = 0x823e2990
        value = 0x60000000
    [[patch.be32]]
        address = 0x821e1248
        value = 0x60000000
    [[patch.be32]]
        address = 0x82053ca4
        value = 0x60000000
    [[patch.f32]]
        address = 0x83783454 # Brightness
        value = 0.3
    [[patch.f32]]
        address = 0x82b76b30 # Contrast
        value = 1.62
    [[patch.f32]]
        address = 0x82b76b34 # Saturation
        value = 0.8

[[patch]]
    name = "Disable Bleach Filter"
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x820536d8
        value = 0x60000000

[[patch]]
    name = "Disable Cutscene Letterbox"
    author = "Tervel, jason098"
    is_enabled = false

    [[patch.be32]]
        address = 0x82464290
        value = 0x4e800020

[[patch]]
    name = "Disable Vignette"
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x82078580
        value = 0x60000000

[[patch]]
    name = "Disable Sharpening"
    author = "Tervel"
    is_enabled = false

    [[patch.f32]]
        address = 0x82b76f24
        value = 0.0

[[patch]]
    name = "Disable Motion Blur"
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x821d34b0
        value = 0x4e800020
    [[patch.be32]]
        address = 0x821d36a0
        value = 0x4e800020

[[patch]]
    name = "60 FPS"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82937960
        value = 0x48103810
    [[patch.be32]]
        address = 0x82a3b170
        value = 0x39403c88
    [[patch.be32]]
        address = 0x82a3b174
        value = 0x614a8889
    [[patch.be32]]
        address = 0x82a3b178
        value = 0x91580004
    [[patch.be32]]
        address = 0x82a3b17c
        value = 0xc1b80004
    [[patch.be32]]
        address = 0x82a3b180
        value = 0x4befc7e4

[[patch]]
    name = "Nobody Can Die"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x82647eac
        value = 0x7c000215

[[patch]]
    name = "Infinite Money"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x82644bd4
        value = 0x48000008
    [[patch.be32]]
        address = 0x82644be4
        value = 0x38600000
    [[patch.be32]]
        address = 0x82644be8
        value = 0x806b00ac
    [[patch.be32]]
        address = 0x82644bec
        value = 0x806b00ac
    [[patch.be32]]
        address = 0x82644bf0
        value = 0x60000000
    [[patch.be32]]
        address = 0x82644c04
        value = 0x409a0015

[[patch]]
    name = "Aspect Ratio"
    desc = "See note about aspect ratio patches in the README. FOV Multiplier required otherwise Vert- default are for 21:9/43:18"
    author = "Clippy95"
    is_enabled = false

    [[patch.be32]]
        address = 0x8290806c
        value = 0x60000000
    [[patch.be32]]
        address = 0x83717c50 # 3D aspect ratio
        value = 0x4018e393
    [[patch.be32]]
        address = 0x820aba44 # Shadows & decals aspect ratio
        value = 0x4018e393

[[patch]]
    name = "FOV Multiplier"
    desc = "Multiplies FOV. Default is 1.33333."
    author = "Clippy95"
    is_enabled = false

    [[patch.f32]]
        address = 0x82b689fc
        value = 1.82
