title_name = "Saints Row" # TU1
title_id = "545107D1" # TQ-2001
hash = [
    "2537D5F11410BE0A", # default.xex
    "2C1C83BE7103BB3D"  # PhantasyRow.xex
]
#media_id = "24367742" # Disc (USA, Europe): http://redump.org/disc/11811

[[patch]]
    name = "Unlock FPS"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82211ef0
        value = 0x38600000
    [[patch.be32]]
        address = 0x82211ef4
        value = 0x906bfffc

    [[patch.be32]]
        address = 0x82385700
        value = 0x38600000
    [[patch.be32]]
        address = 0x82385704
        value = 0x906bfffc

[[patch]]
    name = "Skip Logos"
    author = "illusion"
    is_enabled = false

    [[patch.be32]]
        address = 0x82293344
        value = 0x3ba00003
    [[patch.be32]]
        address = 0x82219d44
        value = 0x60000000

[[patch]]
    name = "Enable r_ugly_mode"
    desc = "Higher FPS but worse graphics. Might crash when starting a game."
    author = "Hasster"
    is_enabled = false

    [[patch.be8]]
        address = 0x835f2164
        value = 0x01
    [[patch.be32]]
        address = 0x827f7a5c
        value = 0x00000000

[[patch]]
    name = "Enable Debug Console"
    desc = "Requires keyboard_passthru to be changed from false to true in the Xenia Canary config; Requires Xenia Canary version 271befc from January 25th or older."
    author = "emoose"
    is_enabled = false

    [[patch.be32]]
        address = 0x8265f694
        value = 0x48000aa4
    [[patch.be32]]
        address = 0x82660134
        value = 0x480b8ef9
    [[patch.be32]]
        address = 0x82660268
        value = 0x480b8e14
    [[patch.be8]]
        address = 0x835f4c3e
        value = 0x01

[[patch]]
    name = "Loose VPP Content loading" # loose->dlcs->vpps
    desc = "Allows loading of loose files e.g xtbls, pegs, lua & more, just by dragging the files into the game directory without the need to pack them into VPPs, use Alternative Loose VPP Content loading only if this causes issues!"
    author = "Clippy95, Scanti"
    is_enabled = false

    [[patch.be8]]
        address = 0x821954ef
        value = 0x01
    [[patch.be8]]
        address = 0x821954f3
        value = 0x00
    [[patch.be8]]
        address = 0x8264ec43
        value = 0x01
    [[patch.be8]]
        address = 0x8264ec3b
        value = 0x01

[[patch]]
    name = "Alternative Loose VPP Content loading" # loose->vdir->dlcs->vpps
    desc = "Use this if 'Loose VPP Content loading' causes issues, DO NOT USE both patches in conjunction!"
    author = "Clippy95, Scanti, Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x821954b0
        value = 0x480121b4
    [[patch.be32]]
        address = 0x821a7660
        value = 0x4e800020
    [[patch.be32]]
        address = 0x821a7664
        value = 0x38a00001
    [[patch.be32]]
        address = 0x821a7668
        value = 0x38800000
    [[patch.be32]]
        address = 0x821a766c
        value = 0x38800001
    [[patch.be32]]
        address = 0x821a7670
        value = 0x484a7759
    [[patch.be32]]
        address = 0x821a7674
        value = 0x38a00000
    [[patch.be32]]
        address = 0x821a7678
        value = 0x38800000
    [[patch.be32]]
        address = 0x821a7680
        value = 0x484a7749
    [[patch.be32]]
        address = 0x821a7688
        value = 0x4bfede2c
    [[patch.be8]]
        address = 0x821954ef
        value = 0x01
    [[patch.be8]]
        address = 0x821954f3
        value = 0x00

[[patch]]
    name = "Unlock All Cheats"
    desc = "Replaces Chicken Ned phone number with 1337, and unlocks all cheats when calling him."
    author = "Clippy95"
    is_enabled = false

    [[patch.array]]
        address = 0x82063d70
        value = "0x31333337000000" # 1337
    [[patch.be32]]
        address = 0x822e6ab0
        value = 0x3c608204  # lis r3, 0x8204
    [[patch.be32]]
        address = 0x822e6ab4
        value = 0x6063e528  # addi r3, r3, 0xE528 "cheats_unlock_all"
    [[patch.be32]]
        address = 0x822e6ab8
        value = 0x48356058 # call console command

[[patch]]
    name = "Aspect Ratio"
    desc = "To get proper Aspect Ratio FOV = Default * (Width/Height) / (16/9)"
    author = "Tervel"
    is_enabled = false

    [[patch.be8]]
        address = 0x827fdd2c
        value = 0x01
    [[patch.f32]]
        address = 0x8208c4b0
        value = 2.38888888889
    [[patch.f32]]
        address = 0x8208b94c # Gameplay FOV Multiplier
        value = 1.777741190  # Default: 1.3333334
    [[patch.f32]]
        address = 0x8208c818 # Cutscene FOV Multiplier
        value = 75.200706 # Default: 57.295776
    [[patch.be32]]
        address = 0x8228ee8c # NOP to prevent game from writing to UI X position.
        value = 0x60000000
    [[patch.f32]]
        address = 0x82ede18c # UI X positioning.
        value = 0.761905

[[patch]]
    name = "Set Aspect Ratio to true 21:9"
    desc = "Scales HUD correctly, Lowers resolution to 1280x540"
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x821952f4
        value = 0x39000500
    [[patch.be32]]
        address = 0x821952f8
        value = 0x3920021c
    [[patch.be32]]
        address = 0x8219360c
        value = 0x60000000
    [[patch.be16]]
        address = 0x827f70ba
        value = 0x021c
    [[patch.be16]]
        address = 0x827f70ca
        value = 0x021c
    [[patch.be16]]
        address = 0x827f70da
        value = 0x021c
    [[patch.be16]]
        address = 0x827f70ea
        value = 0x021c
    [[patch.be16]]
        address = 0x827adb76
        value = 0x021c
    [[patch.be16]]
        address = 0x827f6f82
        value = 0x021c
    [[patch.be16]]
        address = 0x827f701e
        value = 0x021c
    [[patch.be16]]
        address = 0x827f702e
        value = 0x021c
    [[patch.f32]]
        address = 0x8208b94b # General FOV Multiplier
        value = 1.777741190
    [[patch.f32]]
        address = 0x8208c818 # Cutscene FOV Multiplier.
        value = 75.200706
    [[patch.be32]]
        address = 0x8228ee8c # NOP to prevent game from writing to UI X position.
        value = 0x60000000
    [[patch.f32]]
        address = 0x82ede18c # UI X positioning.
        value = 0.761905

[[patch]]
    name = "Better Drive Cam"
    author = "Clippy95"
    is_enabled = false

    [[patch.be32]]
        address = 0x8211d604
        value = 0x60000000
    [[patch.be32]]
        address = 0x8211d608
        value = 0x60000000
    [[patch.be32]]
        address = 0x8211d60c
        value = 0x60000000
    [[patch.be32]]
        address = 0x8211d610
        value = 0x60000000

[[patch]]
    name = "Raise vehicle camera rotation limit"
    author = "Clippy95"
    is_enabled = false

    [[patch.be32]]
        address = 0x82772d90
        value = 0xc108c88c
    [[patch.be32]]
        address = 0x8211fc8c
        value = 0xc00bc88c
    [[patch.be32]]
        address = 0x82772db0
        value = 0xc0c8b850
    [[patch.f32]]
        address = 0x8208c88c
        value = -0.5
