title_name = "Grand Theft Auto IV (TU8)" # Four, 4
title_id = "545407F2" # TT-2034
hash = "797B4775D3BC9853" # default.xex
#media_id = "6AC07221" # Disc (USA): http://redump.org/disc/12492

[[patch]]
    name = "Unlock FPS"
    desc = "Allows the game to go above 67 FPS. (Disable V-Sync in the config)"
    author = "Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x82a1a21c
        value = 0x48000048

[[patch]]
    name = "Skip Legal Screens"
    author = "illusion, Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x821448a4
        value = 0x39600001

[[patch]]
    name = "Disable blur filter"
    author = "illusion, Tervel"
    is_enabled = false

    [[patch.be32]]
        address = 0x822ce278
        value = 0x908be904 # stw r4,-0x61cc(r11)
    [[patch.be32]]
        address = 0x822ce2bc
        value = 0x908be904 # stw r4,-0x61cc(r11)

[[patch]]
    name = "Aspect Ratio"
    desc = "See note about aspect ratio patches in the README."
    author = "Clippy95"
    is_enabled = false

    [[patch.be32]]
        address = 0x820bef1c
        value = 0x4018e393
