title_name = "Far Cry 3"
title_id = "5553088C" # US-2188
#hash = "" # TODO: Add module filename
#media_id = "6F6EAD36" http://redump.org/disc/54368

[[patch]]
    name = "Infinite Health"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x825F778C
        value = 0xD01F0124
    [[patch.be32]]
        address = 0x825F74F8
        value = 0xD1BF0120

[[patch]]
    name = "No Reload"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x82FBF3AC
        value = 0x00003960

[[patch]]
    name = "Max Money on Spend"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x8300451C
        value = 0x39407530

[[patch]]
    name = "$0 on Spend (For selling loot)"
    author = "Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x8300451C
        value = 0x3940FFFF # 4 byte array
