title_name = "Lollipop Chainsaw"
title_id = "565707D0" # VW-2000
hash = "9FEE77798A2E765C" # default.xex
#media_id = "31BE13D9" # Disc (Europe): http://redump.org/disc/35948

[[patch]]
    name = "Unlock FPS"
    desc = "Framerates higher than 60 FPS See note about framerate patches in the README."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8253a7e0
        value = 0x60000000
    [[patch.be8]]
        address = 0x829eaa0b
        value = 0x01

[[patch]]
    name = "Disable Lens Flares"
    desc = "Fixes unoccluded bright lights on-screen."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x8288f2d0
        value = 0x39400000

[[patch]]
    name = "RTV - Flickering Decals Fix"
    desc = "Disables static decals that cause z-fighting with RTV rendering. Some visual artifacts may remain. Not necessary when using ROV."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x822ed998
        value = 0x39600000

[[patch]]
    name = "Disable Film Grain"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x823e4448
        value = 0xc01b002c
    [[patch.be32]]
        address = 0x823e4450
        value = 0xc01b002c

[[patch]]
    name = "Post-Processing, Option A: Disable Gaussian Blur (helps upscaling)"
    desc = "Reduces ghosting and checkerboard artifacts when upscaling. Using this patch in tandem with Disable Film Grain achieves a much cleaner look without having to disable all post-processing."
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x827d6244
        value = 0xec210828
    [[patch.be32]]
        address = 0x827d624c
        value = 0x60000000

[[patch]]
    name = "Post-Processing, Option B: Disable All Effects"
    desc = "Disables all post-processing effects, including color grading, gamma correction, and tonemapping. If this patch makes the game appear too flat, use Option A instead."
    author = "boma"
    is_enabled = false

    [[patch.be16]]
        address = 0x827e0560
        value = 0x4800

[[patch]]
    name = "16x Anisotropic Filtering"
    author = "boma"
    is_enabled = false

    [[patch.be32]]
        address = 0x829877ac
        value = 0x38a00010
