title_name = "Minecraft" # XBLA, TU0
title_id = "584111F7" # XA-4599
hash = "ECCFA59A0ADA4E07" # default.xex
#media_id = "7CD33B56"

[[patch]]
    name = "Debug Menu"
    desc = "Replaced Credits with DebugMenu. Replaced How To Play with Debug Overlay. Do not open on the main menu."
    author = "illusion, MinecraftDigger, Serenity"
    is_enabled = false

    [[patch.be32]]
        address = 0x8298EE94 # xuiscene_credits
        value = 0x82105EBC   # xuiscene_debug
    [[patch.be32]]
        address = 0x8298EE80 # xuiscene_howtoplay_menu
        value = 0x82106E64   # xuiscene_debugoverlay
    [[patch.be32]]
        address = 0x82106E8F
        value = 0x00000000   # null .x
    [[patch.be32]]
        address = 0x82106E94
        value = 0x00000000   # null ur
