name: CI

on:
  push:
    paths:
      - '.github/workflows/ci.yml'
      - 'package.json'
      - 'patches/*.toml'
  pull_request:
  #workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup
        run: npm i -D --no-fund
      - name: Lint
        run: |
          npx eslint patches/*.toml
          patches_invalidate() {
            patches_invalid_reasons+=$'\n'"$1"$'\n'
          }
          for file in patches/*; do
            file_content="$(cat "${file}")"
            file_name="${file//patches\/}"
            if [[ ! "$file_name" =~ ^[0-9A-F]{8}\ -\ .+\.toml$ ]]; then
              patches_invalid_filename+=$'\n'" $file_name"
            fi
            if [[ "$file_content" =~ 'is_enabled = true' ]]; then
              patches_is_enabled+=$'\n'" $file_name"
            fi
            # Desc is optional
            patch_required_info=({title_name,{title,media}_id,hash}\ =\ \" "[[patch]]" \ \ \ \ {{name,author}\ =\ \",is_enabled\ =\ ,\ \ \ \ {address,value}\ =\ })
            for field in "${patch_required_info[@]}"; do
              if [[ ! "$file_content" =~ "$field" ]]; then
                if [[ ! "$patches_fields_missing" =~ $file_name ]]; then
                  patches_fields_missing+=$'\n'" $file_name:"
                fi
                patches_fields_missing+=$'\n'"  $field"
              fi
            done
          done
          if [ -n "$patches_invalid_filename" ]; then
            patches_invalidate "These patch filename(s) are invalid;$patches_invalid_filename"
          fi
          if [ -n "$patches_is_enabled" ]; then
            patches_invalidate "These patches are enabled;$patches_is_enabled"
          fi
          if [ -n "$patches_fields_missing" ]; then
            patches_invalidate "These patches are missing required info;$patches_fields_missing"
          fi
          if [ -z "$patches_invalid_reasons" ]; then
            echo 'Lint succeeded!'
          else
            patches_invalid_reasons="${patches_invalid_reasons/#$'\n'}"
            echo "${patches_invalid_reasons/%$'\n'}"
            exit 1
          fi
  workflow_dispatch:
    if: |
      github.event_name  == 'push' &&
      github.repository == 'xenia-canary/game-patches'
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: xenia-canary/xenia-canary.github.io
      - name: Workflow dispatch
        if: |
          github.event_name  == 'push' &&
          github.repository == 'xenia-canary/game-patches'
        env:
          GITHUB_TOKEN: ${{ secrets.WORKFLOW }}
        run: gh workflow run jekyll.yml
